*{
    background-color: rgb(150, 157, 160);
    text-align: center;
    font-size: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    min-width: 300px;
    min-height: 450px;
}

p{
    font-size: 25px;
}


input{
    margin-bottom: 15px;
    background-color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
}

button{
    background-color: aliceblue;
    padding: 10px;
}
